.container-9{
    background-image: url(/img_src/test-07.svg);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-9 h2{
    color: #333333;
}
.path {
     display: flex;
     margin-left: 15px;
}
.path li {
    padding: 6px 8px;
    position: relative;
}
.path li a {
    color: #AEAEAE;
    text-decoration: none;
    font-size: 14px;
}
.path li + li::before {
    font-size: 14px;
    font-weight: 700;
    content:'/';
    color: #AEAEAE;
    position: absolute;
    left: 0;
}
.container-11{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-all-wrap{
    margin: 50px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
/* .course-nav{
    display: flex;
} */
.course-sticky{
    position: sticky;
    top: 100px;
}
.course-title h4{
    font-size: 16px;
    font-weight: normal;
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}
.course-title p{
    margin-left: 10px;
    font-size: 14px;
    color: #7E7E7E;
    margin-bottom: 15px;
    cursor: pointer;
}
.course-title p:nth-last-child(7){
    margin-bottom: 40px;
}
.angle-down-black{
    margin: 0 5px 2px 5px;
    width: 8px;
}
.course-all-list{
    display: flex;
    flex-direction: column;
}
.course-all-btn-sort{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.course-all-btn {
    display: flex;
    gap: 15px;
}
.course-all-btn .course-all-upcoming {
    border: 1px solid #DFDFDF;
    padding: 8px 15px;
    border-radius: 20px;
    color: #7E7E7E;
    cursor: pointer;
}
.course-all-btn .course-all-btn-popular{
    border: 1px solid #F5A74B;
    padding: 8px 15px;
    border-radius: 20px;
    color: #F5A74B;
    cursor: pointer;
}
.course-all-list .sort{
    cursor: pointer;
}
.course-all-btn-more{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}
.course-all-btn-number{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.course-all-btn-number p:first-child{
    border-bottom: 2px solid #B64DE8;
    color: #B64DE8;
}
.course-all-btn-number .number{
    padding: 0 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.course-all-btn-left, .course-all-btn-right{
    cursor: pointer;
}
.course-all-wrap .card-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.course-all-wrap .card-list{
    width: 268px;
    height: 360px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px 15px;
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px #eeeeee;
}
.course-all-wrap .card-list .speaker{
    width: 60px;
    position: absolute;
    top: -40px;
    left: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}.course-all-wrap .card-list .card-image{
    width: 268px;
    border-radius: 13px 13px 0 0;
}
.course-all-wrap .card-list .card-content{
    height: 160px;
    padding: 15px;
    /* flex-grow: 1; */
}
.course-all-wrap .card-list .card-content h4{
    font-weight: normal;
}
.course-all-wrap .card-list .card-content .time-speaker{
    margin: 10px 0;
    color: #AEAEAE;
}
.course-all-wrap .card-list .card-content .card-tag{
    display: flex;
}
.course-all-wrap .card-list .card-content .card-date-price{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #7E7E7E;
    margin: 7px 0;
}
.course-all-wrap .card-list .card-content .card-date-price-2{
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
}
.course-all-wrap .card-list .card-content .card-date-price-2 p{
    color: #7E7E7E;
    align-self: flex-end;
}
.course-all-wrap .card-list .card-content .card-date-price-2 span{
    color: #B64DE8;
    font-size: 20px;
    font-weight: 700;
}
.course-all-wrap .card-list .card-content .card-date-price span{
    font-weight: 700;
    font-size: 18px;
    color: #F5A74B;
    margin:0 5px;
}
.course-all-wrap .card-list .card-content .card-ptage{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    color: #AEAEAE;
}
.course-all-wrap .card-list .card-content .card-runbar{
    width: 100%;
}