.container-12{
    height: 60px;
}
.path {
    display: flex;
    margin-left: 15px;
}
.path li {
   padding: 6px 8px;
   position: relative;
}
.path li a {
   color: #AEAEAE;
   text-decoration: none;
   font-size: 14px;
}
.path li + li::before {
   font-size: 14px;
   font-weight: 700;
   content:'/';
   color: #AEAEAE;
   position: absolute;
   left: 0;
}
.container-14{
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.course-detail{
    width: 1200px;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.course-detail-left img{
    /* cursor: pointer; */
    width: 600px;
}
.course-detail-right{
    margin: 10px 20px;
    width: 600px;
}
.course-detail-right h3{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}
.course-join-saved{
    display: flex;
    margin: 15px 0;
    color: #7E7E7E;
}
.course-join-saved .join{
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 0;
    gap: 5px;
}
.course-join-saved .saved{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.course-score{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
.course-score p:nth-child(1){
    color: #7E7E7E;
}
.course-score p:last-child{
    color: #ADADAD;
}
.course-score img{
    width: 60px;
    height: 100%;
}
.course-section {
    color: #ADADAD;
    font-size: 12px;
    margin-bottom: 40px;
}
.course-detail-price{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}
.course-detail-price p:first-child{
    color: #7E7E7E;
}
.course-detail-price p:nth-child(2){
    color: #B64DE8;
    font-size: 22px;
    font-weight: 700;
}
.course-detail-speaker{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}
.course-detail-speaker .speaker{
    cursor: pointer;
    width: 55px;
    height: 100%;
}
.course-ask{
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.25);
    padding: 6px 13px;
    border-radius: 30px;
    gap: 5px;
    cursor: pointer;
}
.course-ask img{
    width: 17px;
    height: 17px;
}
.course-ask p{
    color: #ADADAD;
    cursor: pointer;
    font-size: 12px;
}
.container-15{
    background-color: #F5F5F5;
    position: relative;
}
.course-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.course-intro-btn img{
    width: 60px;
    cursor: pointer;
}
.course-intro-btn p{
    background-color: #F5A74B;
    padding: 12px 25px;
    border-radius: 30px;
    color: #fff;
    margin-left: 15px;
    cursor: pointer;
}
.course-intro-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: -30px;
    right: 200px;
    gap: 10px;
}
.course-intro-menu {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    /* gap: 80px; */
}
.course-intro-menu li{
    padding: 6px 40px;
    position: relative;
    color: #7E7E7E;
    cursor: pointer;
}
.course-intro-menu li:first-child{
    color: #B64DE8;
    padding-bottom: 10px;
    border-bottom:3px solid #B64DE8;
}
.course-intro-menu li + li::before {
    font-size: 14px;
    font-weight: normal;
    content:'|';
    color: #cfcfcf;
    position: absolute;
    left: 0;
}
.course-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-img img{
    width: 700px;
}
.container-16{
    display: flex;
    justify-content: center;
    position: relative;
}
.btn-more{
    position: absolute;
    top: -40px;
}
.btn-more a{
    font-size: 14px;
    text-decoration: none;
    color: #FF9A00;
    background-color: #fff;
    padding: 7px 20px;
    border-radius: 30px;
}
.btn-more img{
    margin-left: 5px;
}
.speaker-buyfaq {
    width: 1200px;
    height: 400px;
    display: flex;
    align-content: center;
    gap: 50px;
}
.speaker-wrap{
    width: 600px;
}
.speaker-wrap h3{
    color: #333;
    margin: 40px 0;
    font-weight: normal;
    font-size: 22px;
}
.speaker-detail{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.speaker-detail .speaker-img img{
    width: 90px;
    cursor: pointer;
}
.speaker-name-homepage{
    display: flex;
    align-items: center;
    gap: 5px;
}
.speaker-homepage{
    cursor: pointer;
}
.speakername{
    color: #333;
}
.speaker-info .speaker-intro {
    line-height: 20px;
    color: #7E7E7E;
}
.speaker-info .speaker-ask{
    width: 60px;
    margin: 20px 0;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 6px 13px;
    box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.25);
    cursor: pointer;
}
.speaker-ask img{
    width: 17px;
    height: 17px;
}
.speaker-ask p{
    color: #ADADAD;
    cursor: pointer;
    font-size: 12px;
}
.buy-faq h2{
    margin: 40px 0;
    color: #333;
    font-size: 22px;
    font-weight: normal;
}
.faqform{
    width: 500px;
    padding: 10px 20px;
    border: 1px solid #cfcfcf;
    border-radius: 15px;
}
.faqform li{
    margin: 10px 0;
    color: #7E7E7E;
    font-size: 14px;
    cursor: pointer;
}
.faqform-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ADADAD;
    padding-bottom: 5px;
}
.faqform-2{
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ADADAD;
}
.faqform-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faqform img{
    width: 10px;
    height: 100%;
    cursor: pointer;
}